<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Go Template</title>
</head>

<body>
<h1 class="title">Hello, {{.Name}}</h1>

<img src="/resources/images/gopher.png">
<p>Your previous title was {{.Title}}</p>
<p>Your MOS was {{.MOS}} Meteorological Analyst and Forecaster</p>

</body>

</html>